/* ------------------------------------------------------------ *\
	Products
\* ------------------------------------------------------------ */

.products {
	ul {
		margin: -2.3rem;
		display: flex; 
		flex-wrap: wrap;
	}

	li {
		padding: 2.3rem;
		flex: 0 0 calc(100% / 4);
		list-style-type: none; 
		display: flex;
		justify-content: center;

		@include breakpoint-down(mobile) {
			flex: 0 0 50%;
		}

		@include breakpoint-down(mobile-small) {
			flex: 0 0 100%;
		}
	}
}
