/* ------------------------------------------------------------ *\
	Product
\* ------------------------------------------------------------ */

.product {
	text-align: center;
	padding: 3.5rem 2.5rem 9rem; 
	height: 100%; 

	@include breakpoint-down(mobile) {
		padding: 1.5rem 0; 
	}

	.product__image {
		margin-bottom: 1.1rem; 
		height: 37.1rem;
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint-down(large-desktop) {
			height: 30rem;
		}

		@include breakpoint-down(tablet) {
			height: 25rem; 
		}

		@include breakpoint-down(mobile-medium) {
			height: 20rem; 
		}
	}

	.product__image img {
		max-height: 100%;
	}

	.product__content {
		max-width: 23.8rem;
		margin: 0 auto; 

		@include breakpoint-down(mobile) {
			max-width: 70%; 
			text-align: center; 

			h6 {
				font-size: 1.6rem; 
			}
		}
	}

	.product__btn {
		position: absolute; 
		bottom: 2.5rem; 
		left: 50%; 
		transform: translateX(-50%);
		opacity: 0; 
		transition: opacity .3s;

		@include breakpoint-down(mobile) {
			position: relative; 
			bottom: auto; 
			left: auto; 
			transform: translate(0,0);
			margin-top: 1rem; 
		}
	}

	.product__content h6 {
		margin-bottom: 2.5rem; 
	}
}
