/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	background-color: $c-black2;
	padding: 33px 0; 
	color: $c-white;

	.footer__inner {
		padding: 0rem 80px 0 37px; 
	}

	.footer__cols {
		display: flex;
		flex-flow: row wrap;
		margin: 0rem -1.5rem; 

		@include breakpoint-down(tablet) {
			margin-bottom: -2rem; 
		}
	}

	.footer__col {
		padding: 0rem 1.5rem; 

		@include breakpoint-down(tablet) {
			margin-bottom: 2rem; 
		}

		@include breakpoint-down(mobile-medium) {
			text-align: center;
		}
	}

	.footer__col:not(:first-child) {
		padding-top: 1.8rem; 
	}

	.footer__col--size1 {
		flex: 0 0 15.1%;
		max-width: 15.1%;

		@include breakpoint-down(tablet) {
			flex: 0 0 100%;
			max-width: 100%;		
		}
	}

	.footer__title{
		color:#5DA09A;
		font-size: 24px;
		font-weight: 700px;
	}

	.footer__col--size2 {
		flex: 0 0 20.5%;
		max-width: 20.5%;

		@include breakpoint-down(tablet) {
			flex: 0 0 33.33%;
			max-width: 33.33%;			
		}

		@include breakpoint-down(mobile) {
			flex: 0 0 50%;
			max-width: 50%;			
		}

		@include breakpoint-down(mobile-medium) {
			flex: 0 0 100%;
			max-width: 100%;			
		}
	}

	.footer__col--size3 {
		flex: 0 0 25.9%;
		max-width: 25.9%;

		@include breakpoint-down(tablet) {
			flex: 0 0 33.33%;
			max-width: 33.33%;			
		}

		@include breakpoint-down(mobile) {
			flex: 0 0 50%;
			max-width: 50%;			
		}		

		@include breakpoint-down(mobile-medium) {
			flex: 0 0 100%;
			max-width: 100%;			
		}
	}

	.footer__col--size4 {
		flex: 0 0 22%;
		max-width: 22%;

		@include breakpoint-down(tablet) {
			flex: 0 0 33.33%;
			max-width: 33.33%;			
		}

		@include breakpoint-down(mobile) {
			flex: 0 0 50%;
			max-width: 50%;			
		}

		@include breakpoint-down(mobile-medium) {
			flex: 0 0 100%;
			max-width: 100%;			
		}
	}

	.footer__col--size4 h6 {
		padding-left: 2.2rem; 

		@include breakpoint-down(tablet) {
			padding-left: 0; 
		}
	}

	.footer__col--size5 {
		flex: 0 0 16.5%;
		max-width: 16.5%;	

		@include breakpoint-down(tablet) {
			flex: 0 0 100%;
			max-width: 100%;			
		}

		@include breakpoint-down(mobile) {
			flex: 0 0 50%;
			max-width: 50%;			
		}

		@include breakpoint-down(mobile-medium) {
			flex: 0 0 100%;
			max-width: 100%;			
		}
	}

	.footer__col--centered h6 {
		text-align: center;

		@include breakpoint-down(tablet) {
			text-align: left;
		}

		@include breakpoint-down(mobile-medium) {
			text-align: center;
		}
	}

	.footer__nav ul {
		list-style: none;
	}

	.footer__nav li {
		font-size: 2.4rem; 
		font-weight: 400; 

		@include breakpoint-down(small-desktop) {
			font-size: 2rem; 
		}
	}

	.footer__nav li a {
		text-decoration: none;
	}

	.footer__nav li a:hover {
		text-decoration: underline;
	}

	.footer__nav li + li {
		margin-top: 1.9rem; 
	}

	.footer__contacts ul {
		list-style: none;
		font-size: 2.4rem; 
		font-weight: 400; 
	}

	h6 {
		color: #5DA09A;
		margin-bottom: 4.2rem; 

		@include breakpoint-down(mobile) {
			margin-bottom: 2rem; 
		}
	}
}
