/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {
	position: relative;
	min-height: 100vh;

	@include breakpoint-down(mobile-medium) {
		overflow: hidden;
	}
}
